header{
    width: 100vw;
    height: fit-content;
    background-color: var(--primary);
}

.mobile{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.mobile a img{
    width: 2rem;
    height: 2rem;
}

@media(width<800px){
    .mobile{
        display: flex;
    }

    .mobile .invisible{
        display: none;
    }

    header .desktop{
        display: none;
    }
}

.desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.desktop a img{
    max-width: 150px;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.link{
    color: var(--secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.65rem;
}

.link:hover{
    color: white;
}

.selected{
    color: white;
}